@import './fonts/roboto';
@import './transition';

html {
    overflow: auto !important;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body {
    font-family: 'Roboto', sans-serif;

    .content {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .v-text-field__details {
        margin-bottom: 0 !important;
        padding: 0 3px !important;

        .v-messages__message {
            font-size: 0.8rem !important;
            padding-bottom: 2px !important;
        }
    }

    .smaller-input {
        .v-input__control {
            .v-input__slot {
                padding: 0 7px !important;
                min-height: 18px !important;

                .v-input__prepend-inner, .v-input__append-inner {
                    margin-top: 4px !important;
                }
            }
        }
    }

    .left-input {
        .v-input__control {
            .v-input__slot {
                .v-input__prepend-inner {
                    margin-right: 8px !important;
                }
            }
        }
    }

    .left-input {
        .v-input__control {
            .v-input__slot {
                .v-input__prepend-inner {
                    margin-right: 8px !important;
                }
            }
        }
    }

    .right-input {
        .v-input__control {
            .v-input__slot {
                .v-text-field__slot {
                    input {
                        text-align: right !important;
                    }
                }
            }
        }
    }

    .center-input {
        .v-input__control {
            .v-input__slot {
                .v-text-field__slot {
                    input {
                        text-align: center !important;
                    }
                }
            }
        }
    }

    .sort-link {
        &:focus, &:hover {
            text-decoration: underline;
        }
    }

    .view-record-table {
        width: 100%;
        border-collapse: collapse;

        td {
            border-bottom: 1px solid #CFD8DC;
            padding: 10px 12px;
        }
    }

    .inter-view-table {
        width: 100% !important;
        border-collapse: collapse !important;

        td {
            border-bottom: none !important;
            padding: 1px 8px !important;
        }
    }

    .keyboard-shortcut-table {
        width: 100%;
        border-collapse: collapse;

        td {
            border-bottom: 1px solid #CFD8DC;
            padding: 10px 12px;
        }
    }

    .invoice-table {
        width: 100%;
        border-collapse: collapse;

        td {
            padding: 8px 12px;
            vertical-align: top;
        }

        th {
            padding: 2px 12px;
        }

        .left-round {
            border-bottom-left-radius: 6px;
            border-top-left-radius: 6px;
        }

        .right-round {
            border-bottom-right-radius: 6px;
            border-top-right-radius: 6px;
        }

        .footer-th {
            padding: 4px 5px;
        }
    }
}

