@font-face {
  font-family: "Roboto";
  font-style: light;
  font-weight: 300;
  font-display: swap;
  src: url("/public/fonts/vendor/roboto/Roboto-Light.ttf") format("ttf");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

html {
  overflow: auto !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

body .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

body .v-text-field__details {
  margin-bottom: 0 !important;
}

body .v-text-field__details .v-messages__message {
  padding: 0 0 4px 0;
  line-height: 1.2em;
  font-size: 0.9rem;
}

body .sort-link:focus,
body .sort-link:hover {
  text-decoration: underline;
}

body .view-record-table {
  width: 100%;
  border-collapse: collapse;
}

body .view-record-table td {
  border-bottom: 1px solid #CFD8DC;
  padding: 10px 12px;
}

